body{
  background-color: blanchedalmond;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0px;
}

input,textarea {
  background-color: transparent;
  outline: none;
  font-size: 20px;
  text-align: center;
  overflow: wrap;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

textarea {
  height: 70%;
  resize: none;
}

header {
  display: flex;
  align-items: center ;
  justify-content: center;
}

.page-title {
  margin:0;
  font-size: 60px;
}

ul {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

ul li {
  width: 40%;
  min-width: 300px;
  height: 200px;
  position: relative;
  list-style: none;
  box-shadow: 1px 1px 5px;
}

.title,.content,li button {
  position: absolute;
}

.title {
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.content {
  left: 50%;
  top:20%;
  transform: translateX(-50%);
}

.btn-show-text {
  bottom: 5%;
  left:5%;
}

.btn-edit {
  right:5%;
  top:5%;
}

footer {
  bottom: 0;
  margin: 0;
}

.hidden {
  display: none;
}

button {
  border-radius: 5px;
  background-color: rgb(243, 215, 174);
}

button:hover {
  cursor: pointer;
}

footer button {
  width: 60px;
  height: 60px;
}