body{
  background-color: blanchedalmond;
  margin: 0;
}

main {
  min-height: calc(100vh - 200px);
}

header,footer {
  height: 100px;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
}

